* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: slategray;
}

.darksalmon {
    color: darksalmon;
}

h1 {
    background-color: black;
    border: 2px dotted darkcyan;
}

a:hover {
    background-color: yellow;
}

.question {
    margin-top: 50px;
    margin-right: auto;
    margin-left: 14px;
    margin-bottom: -40px;
}

button {
    box-sizing: border-box;
    color: black;
    background-color: lightgray;
    margin: 25px;
    margin-top: 100px;
    margin-bottom: auto;
}

button:hover {
    background-color: whitesmoke;
}

footer {
    align-content: center;
    margin: 10em 35em;
}